@import 'src/variables';

.header {
  display: flex;
  background-color: $header-color;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  alignment-baseline: after-edge;
  height: 80px;
  padding: 5px;
}

.header > img {
  height: 70px;
  margin: 10px;
}

.header > div {
  text-align: end;
}